# CentOS 5.7 kickstart file - ks.cfg
#
# For more information on kickstart syntax and commands, refer to the
# CentOS Installation Guide:
# http://www.centos.org/docs/5/html/Installation_Guide-en-US/ch-kickstart2.html
#
# For testing, you can fire up a local http server temporarily.
# cd to the directory where this ks.cfg file resides and run the following:
#    $ python -m SimpleHTTPServer
# You don't have to restart the server every time you make changes.  Python
# will reload the file from disk every time.  As long as you save your changes
# they will be reflected in the next HTTP download.  Then to test with
# a PXE boot server, enter the following on the PXE boot prompt:
#    > linux text ks=http://<your_ip>:8000/ks.cfg

# Required settings
lang en_US.UTF-8
keyboard us
# To generate an encrypted password, run the following:
#    $ openssl -1 "MyAwesomePassword"
# Following password: vagrant
rootpw --iscrypted $1$damlkd,f$UC/u5pUts5QiU3ow.CSso/
authconfig --enableshadow --enablemd5
timezone --utc America/Los_Angeles

# Optional Settings
install
url --url=http://vault.centos.org/5.7/os/x86_64
network --device eth0 --bootproto dhcp
firewall --disabled
selinux --disabled
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
autopart
firstboot --disabled
reboot

# Install the bare minimum of packages on initial boot.  Do not install the
# @Base group
%packages --ignoremissing
@Base
@Core
@Development Tools

%post
/usr/sbin/groupadd vagrant -g 999
/usr/sbin/useradd vagrant -g vagrant -G wheel -u 900
echo "vagrant" | passwd --stdin vagrant
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
